@model IEnumerable<LynxPMCore.Models.LTask>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LTaskName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LTaskDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TermID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EquipmentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskTypeID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LTaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LTaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term.TermName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType.TaskTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LTaskID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LTaskID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LTaskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
