@model IEnumerable<LynxPMCore.Models.EquipmentArea>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EquipmentAreaName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EquipmentAreaDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EquipmentAreaAppearanceOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EquipmentAreaActive)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentAreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentAreaDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentAreaAppearanceOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentAreaActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentAreaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentAreaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipmentAreaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
