@model IEnumerable<LynxPMCore.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AreaName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaKMLFileURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaAppearanceOrder)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaKMLFileURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaAppearanceOrder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AreaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AreaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AreaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
