@model IEnumerable<LynxPMCore.Models.WorkOrderAssetList>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkOderID)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.EquipmentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkOrderAssetListID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkOrderAssetListID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkOrderAssetListID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
