@model LynxPMCore.Models.WorkGroup

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkGroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkGroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkGroupDrescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkGroupDrescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkGroupID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
